.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
} 

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#associated {
  fill: green;
  opacity: .5;
}

path.link.associated {
  stroke: green;
  stroke-width: 2;
  stroke-dasharray: 8 3 2;
  stroke-opacity: .3;
}

marker#delegated {
  fill: purple;
  opacity: .5;
}

path.link.delegated {
  stroke: purple;
  stroke-width: 2;
  stroke-dasharray: 8 3 2;
  stroke-opacity: .3;
}

marker#controlled {
  fill: lime;
}

path.link.controlled {
  stroke: lime;
}

marker#used {
  fill: red;
  //opacity: .1;
}
	
path.link.used {
  stroke: red;
  stroke-width: 2;
}

marker#wasGeneratedBy {
  fill: blue;
  //opacity: .1;
}

path.link.wasGeneratedBy {
  stroke: blue;
  stroke-width: 2;
}

marker#e2e_related {
  fill: #00BFFF;
  opacity: .5;
}

path.link.e2e_related {
  stroke: #00BFFF;
  stroke-width: 2;
  stroke-dasharray: 8 3 2;
  stroke-opacity: .3;
}

marker#a2e_related {
  fill: #00BFFF;
  opacity: .5;
}

path.link.a2e_related {
  stroke: #00BFFF;
  stroke-width: 2;
  stroke-dasharray: 8 3 2;
  stroke-opacity: .3;
}

circle {
  fill: #aec7e8;
  stroke: #fff;
  stroke-width: 1.5px;
}
	
rect.entity, use.entity {
  fill: #ffbb78;
  stroke: #fff;
  stroke-width: 1.5px;
}

polygon {
  fill: #1f77b4;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 15px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

text.hidden {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 3px;
  background: #013D87;
  color: #fff;
  border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
