<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='facetview/vendor/bootstrap-2.3.2/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='facetview/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='facetview/vendor/bootstrap-2.3.2/css/bootstrap-responsive.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='prov-es-fdl/prov-es-fdl.css') }}">

<style>
.modal {
  width: 90%;
  max-width: 1024px;
  margin-left:auto;
  margin-right:auto;
}

.modal .modal-header {
  height: 10%;
}
.modal-body {
  height: 90%;
}

.modal-body-div {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
</style>

</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">{{ title }}<span class="badge badge-important">{{ badge }}</span></a>
      <ul class="nav">
        <li><a href="{{ url_for('.home') }}">Home</a></li>
      </ul>
      <button class="btn" id="toggle_force">Force</button>
      <button class="btn" id="toggle_agent_labels">Agent Labels</button>
      <button class="btn" id="toggle_activity_labels">Activity Labels</button>
      <button class="btn" id="toggle_entity_labels">Entity Labels</button>
      <button class="btn" id="toggle_path_labels">Relation Labels</button>
    </div>
  </div>
</div>

<div id="chart" class="container" />

<script type="text/javascript" src="{{ url_for('static', filename='facetview/vendor/jquery/1.7.2/jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='facetview/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='facetview/vendor/bootstrap-2.3.2/js/bootstrap.min.js') }}"></script>  
<script src="{{ url_for('static', filename='JSON-js/json2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3-3.5.5/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3-tip-0.6.3/d3.tip.v0.6.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='prov-es-fdl/prov-es-fdl.js') }}"></script>
<script>

jQuery(document).ready(function($) {
  tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([100, 0])
      .direction('e')
      .html(function(d) {
        if (d.doc === undefined || d.doc === null)
          return '<strong>(' + d.concept + ')</strong><br/><pre style="color:#0088CC;font-size:10px;">No JSON to show.</pre>';
        var json_str = JSON.stringify(d.doc, null, '  ');
        var title = get_text(d);
        return '<strong>' + title + '</strong><br/><pre style="color:#0088CC;font-size:10px;">' + json_str + '</pre>';
      });
  
  force = d3.layout.force()
      .nodes(nodes)
      .links(links)
      .linkDistance(150)
      .charge(-500)
      .on("tick", tick);
  
  svg = d3.select("#chart").append("svg");

  svg.call(tip);
  
  // Per-type markers, as they don't inherit styles.
  defs = svg.append("defs");
  
  // customize marker for used paths
  defs.append("marker")
      .attr("id", "used")
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", rectLength - 1)
      .attr("refY", 0) //-1)
      .attr("markerWidth", markerLength)
      .attr("markerHeight", markerLength)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5");
  
  // customize marker for wasGenerated paths
  defs.append("marker")
      .attr("id", "wasGeneratedBy")
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", radiusLength + markerLength)
      .attr("refY", 0) //-1)
      .attr("markerWidth", markerLength)
      .attr("markerHeight", markerLength)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5");
  
  // customize marker for associated paths
  defs.append("marker")
      .attr("id", "associated")
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", radiusLength + markerLength)
      .attr("refY", -1)
      .attr("markerWidth", markerLength)
      .attr("markerHeight", markerLength)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5");
      
  // customize marker for controlled paths
  defs.append("marker")
      .attr("id", "controlled")
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", radiusLength + markerLength)
      .attr("refY", -2.5)
      .attr("markerWidth", markerLength)
      .attr("markerHeight", markerLength)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5");
      
  // customize marker for entity to entity related paths
  defs.append("marker")
      .attr("id", "e2e_related")
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", rectLength - 1)
      .attr("refY", 0) //-1)
      .attr("markerWidth", markerLength)
      .attr("markerHeight", markerLength)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5");
      
  // customize marker for activity to entity related paths
  defs.append("marker")
      .attr("id", "a2e_related")
      .attr("viewBox", "0 -5 10 10")
      .attr("refX", rectLength - 1)
      .attr("refY", 0) //-1)
      .attr("markerWidth", markerLength)
      .attr("markerHeight", markerLength)
      .attr("orient", "auto")
    .append("path")
      .attr("d", "M0,-5L10,0L0,5");
      
  // add def for info node
  defs.append("rect")
      .attr("id", "info")
      .attr("width", rectLength)
      .attr("height", rectLength);
  
  // add initial session viz
  addViz("{{ id }}", "{{ url_for('.fdl_data') }}");

  // add force toggle
  $('#toggle_force').on('click', function() {
    if (forceEnabled) {
      forceEnabled = false;
      $(this).removeClass("btn-success");
      setTimeout(function() {
          force.stop();
          setGraphVizLocs();
      }, 100);
    }else {
      forceEnabled = true;
      $(this).addClass("btn-success");
      enableForce();
      setTimeout(function() {
          force.start();
      }, 500);
    }
  });

  // add agent labels toggle
  $('#toggle_agent_labels').on('click', function() {
    if (hideLabel.agent) {
      hideLabel.agent = false;
      $(this).addClass("btn-success");
      if (agentGroup) {
        agentGroup.selectAll("polygon")
          .data(force.nodes().filter(function(d) {
            if (d.prov_type == "agent") {
              showText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }else {
      hideLabel.agent = true;
      $(this).removeClass("btn-success");
      if (agentGroup) {
        agentGroup.selectAll("polygon")
          .data(force.nodes().filter(function(d) {
            if (d.prov_type == "agent") {
              hideText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }
  });

  // add activity labels toggle
  $('#toggle_activity_labels').on('click', function() {
    if (hideLabel.activity) {
      hideLabel.activity = false;
      $(this).addClass("btn-success");
      if (actsGroup) {
        actsGroup.selectAll("circle")
          .data(force.nodes().filter(function(d) {
            if (d.prov_type == "activity") {
              showText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }else {
      hideLabel.activity = true;
      $(this).removeClass("btn-success");
      if (actsGroup) {
        actsGroup.selectAll("circle")
          .data(force.nodes().filter(function(d) {
            if (d.prov_type == "activity") {
              hideText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }
  });

  // add entity labels toggle
  $('#toggle_entity_labels').on('click', function() {
    if (hideLabel.entity) {
      hideLabel.entity = false;
      $(this).addClass("btn-success");
      if (entsGroup) {
        entsGroup.selectAll("rect")
          .data(force.nodes().filter(function(d) {
            if (d.prov_type == "entity") {
              showText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }else {
      hideLabel.entity = true;
      $(this).removeClass("btn-success");
      if (entsGroup) {
        entsGroup.selectAll("rect")
          .data(force.nodes().filter(function(d) {
            if (d.prov_type == "entity") {
              hideText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }
  });

  // add path labels toggle
  $('#toggle_path_labels').on('click', function() {
    if (hideLabel.path) {
      hideLabel.path = false;
      $(this).addClass("btn-success");
      if (pathGroup) {
        pathGroup.selectAll("path")
          .data(force.links().filter(function(d) {
            if (d.concept !== undefined) {
              showPathText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }else {
      hideLabel.path = true;
      $(this).removeClass("btn-success");
      if (pathGroup) {
        pathGroup.selectAll("path")
          .data(force.links().filter(function(d) {
            if (d.concept !== undefined) {
              hidePathText(d);
              return true;
            }
            return false;
          }))
          .on('mouseover', toggleTip)
          .on('mouseout', toggleTip);
      }
    }
  });

});
</script>

<!-- dblclick modal -->
<div id="dblclick_modal" class="modal hide fade dblclick_modal" tabindex="-1" role="dialog"
     aria-labelledby="dblclick_modal_label" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="dblclick_modal_label"></h3>
  </div>
  <div class="modal-body">
    <div class="modal-body-div"><label id="dblclick_text" style="display: block;"></label></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" id="add_lineage_btn">Add Lineage</a>
    <button class="btn close_error" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

</body>
</html>
